html {
    height: 100%;
    font-family: 'Century Gothic';
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    width: 85%;
    align-content: center;
}

header {
    display: grid;
    place-items: center;
}

body {
    font-family: 'Century Gothic';
    font-weight: 600;
    background: url(https://i.ytimg.com/vi/5B-OU_FRjQE/maxresdefault.jpg) no-repeat top center fixed;
    color: black;
    background-size: cover;
    height: 100%;
}

.jumbotron {
    background: url(https://media.distractify.com/brand-img/VLydU_Rg1/0x0/elden-ring-1646338546683.jpg) no-repeat center;
    background-color: #443f37;
    color: #c3b590;
    width: auto;
}

.createbtn {
    background-color: #443f37;
    text-align: center;
    font-weight:600;
    color: #c3b590;
    padding: .5rem;
    margin: .5rem 0 0 5rem;
    border: 2px solid #443f37;
    border-radius: 5px;
    width:20%;
}

    .createbtn a {
        color: #c3b590;
    }

    p {
        font-size: 20px;
    }

h1 {
    border-bottom: 3px solid #c3b590;
    color: #996600;
}

h4 {
    background-color: #443f37;
    color: #c3b590;
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    border: 3px solid #c3b590;
    border-radius: 5px;
}

.extra{
    margin-bottom: 3.75rem;
}

.dl-horizontal {
    background-color: #443f37;
    color: #c3b590;
    font-size: 20px;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #c3b590;
    border-radius: 7px;
    width: 45%;
}

.row {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}

.guide {
    background-color: #443f37;
    text-align: center;
    color: #c3b590;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #443f37;
    border-radius: 5px;
}

.btn {
    text-align: center;
    background-color: #443f37;
    color: #c3b590;
    font-size: 20px;
    font-weight:600;
    padding: .5rem 2rem;
    margin: .5rem;
    margin-right: .5rem;
    border: 2px solid #443f37;
    border-radius: 5px;
}

a {
    color: #034af3;
}

.footer {
    position: relative;
    bottom: 0;
    width: auto;
    height: 50px;
    color: #c3b590;
}

.form-group {
    background-color: #443f37;
    color: #c3b590;
    width: 30%;
    border: 2px solid #443f37;
    border-radius: 5px;
}

.checkbox{
    position:relative;
    padding-top: 5px;
    padding-left: 20px;
}

/* Data Styles -----------*/
.table {
    width:inherit;
}

    .table th {
        background-color: #443f37;
        color: #c3b590;
        font-size:20px;
        width: unset;
    }

    .table td {
        background-color: darkgrey;
        color: #443f37;
        font-size: 16px;
    }

        .table td a {
            text-align: center;
            background-color: #443f37;
            color: #c3b590;
            font-size: 12px;
            border: 2px solid #443f37;
            border-radius: 5px;
            padding:.5rem;
            margin: .5rem;
            display:inline-block;
        }
