@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About Elden Ring MVC</h3>

<p>The EldenRing MVC is a catalog of weapons, armor sets, spells, and their locations. it can be used to find one of the mentioned items
    or get more details on one in specific. If all seed content is taken out it can be used to keep track of locations the player has visited 
    as well as the items they've collected as they progress through the game.</p>
