@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elden Ring MVC</h1>
    <p class="lead">
        The EldenRing MVC is a multy use application that can be used to stored items found throughout your gameplay.
        If fully loaded with items from the game it can be used to find the location of armor sets and weapons in the game to assist in locating that specific item.
    </p>
</div>

<div class="row">
    <div class="col-md w-50">
        <h2>Getting started</h2>
        <p>
            To get started click one of the buttons below or the similar buttons in the navigation bar at the top.
        </p>
        <div class="guide">
            <p><a class="btn" href=https://localhost:44360/Weapon>Weapons</a></p>
        </div>
        <div class="guide">
            <p><a class="btn" href=https://localhost:44360/ArmorSet>ArmorSets</a></p>
        </div>
        <div class="guide">
            <p><a class="btn" href=https://localhost:44360/Spell>Spells</a></p>
        </div>
    </div>
    <div class="col-md">
        <h2>World Map</h2>
        <p class="extra">To see a full view worl map click the button below.</p>
        <p>

        </p>
        <div class="guide">
            <p><a class="btn" href="https://localhost:44360/Location/Map">World Map</a></p>
        </div>
    </div>
    <div class="col-md">
        <h2>EldenRing Wiki</h2>
        <p>If you need any other information about Elden Ring you can find it by clicking the button below.</p>
        <div class="guide">
        <p><a class="btn" href="https://eldenring.wiki.fextralife.com/Elden+Ring+Wiki">EldenRing Wiki</a></p>
        </div>
    </div>
</div>