@model EldenRing.Models.LocationModels.LocationDetail

@{
    ViewBag.Title = "Map";
}

<h2>World Map</h2>

<div>
    <style>
        html {
            height: 100%;
        }
        body {
            background: url(https://i.imgur.com/af4DRnx.jpg) no-repeat center;
            background-size: contain;
            background-color: #443f37;
            font-family: 'Century Gothic';
            font-weight: 600;
            height: 100%;
            width: 100%;
            min-width: 90%;
        }
    </style>
</div>